// .bg-image-vertical {
//     position: relative;
//     overflow: hidden;
//     background-repeat: no-repeat;
//     background-position: right center;
//     background-size: auto 100%;
// }
    
@media (min-width: 1025px) {
    .h-custom-2 {
    height: 70%;
    }
}

.btn-login{
    color: #fff;
    background-color: #39c0ed;
    font-weight:600;
    display: block;
    width: 100%;
    text-transform: uppercase;
    border: 0;
    padding: 8px;
}
.btn-login:hover{
    opacity: 0.8;
}

.custom-input-password {
    position: relative;
    input {
        font-size: 14px;
    }
    i {
        position: absolute;
        right: 4%;
        top: 60%;
        cursor: pointer;
    }
}