.page-footer {
  position: relative;
  display: block;
  padding-top: 80px;
  padding-bottom: 16px;
  background-color: #2d3b38;
  color: #fff;
  height: 500px;
  font-size: 1.15rem;
  a {
    text-decoration: none;
  }
  h5 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
  }
  .footer-menu {
    position: relative;
    list-style: none;
    padding-left: 0;
  }
  .footer-menu a,
  .footer-link {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.2s ease;
  }
  .footer-link {
    padding: 0;
    margin-bottom: 16px;
  }
  .footer-sosmed a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    background-color: #26312f;
    color: #ffff;
    transition: all 0.2s ease;
  }
  #copyright {
    a {
      color: #07be94;
      text-decoration: none;
      background-color: transparent;
    }
  }
}
